name: Run Unit Tests on pull request
on: ['pull_request']

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: yarn install
      - run: yarn run test:unit
