name: unit tests
on: ['pull_request']

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: yarn install

      - name: Run unit tests
        run: yarn run test:unit
